<ion-view view-title="Movimiento" scroll="false">
  <ion-pane scroll="false">
          <ion-content class="padding">
              <button class="button button-full button-positive" ng-click="Mirar()">
                  Empezar mediciones
              </button>
              <button class="button button-full button-positive" ng-click="Parar()">
                  Parar mediciones
              </button>
              <h2>RESULTADO: {{coordenadas.resultado}}</h2>
          </ion-content>
  </ion-pane>
</ion-view>
 

